git+https://github.com/lschuermann/litex@62d2c2893305aaa0776dc2363531bd326b2d9d28#egg=litex
git+https://github.com/litex-hub/litex-boards@f18b10d1edb4e162a77972e2e9c5bad54ca00788#egg=litex-boards
git+https://github.com/enjoy-digital/liteeth@1db5299a62638b66f9b887baac78f59573cde2ac#egg=liteeth
git+https://github.com/enjoy-digital/litedram@9e9c83ce40ae6ea50546b6cc307b9c581ff046ab#egg=litedram
git+https://github.com/litex-hub/litehyperbus@9f118e83c819a20e1348d295cc9a251cc006f8f8#egg=litehyperbus
git+https://github.com/enjoy-digital/liteiclink@3d8ecdbcf9f0260292221ff63b0ad3f5e409a955#egg=liteiclink
git+https://github.com/enjoy-digital/litepcie@5e6b2decf1b616a442b9fedafea095aa757990c9#egg=litepcie
git+https://github.com/enjoy-digital/litescope@08072a78ba1157d106d305bdc93cd9c5d35bab98#egg=litescope
git+https://github.com/enjoy-digital/litesdcard@4edf05e627a8b5f03e632215accec8ab588737e3#egg=litesdcard
git+https://github.com/litex-hub/litespi@4cb907881bb75999e4c6bb68e211dd5cfc301de9#egg=litespi
git+https://github.com/enjoy-digital/litevideo@41f30143075ece3fff5c33a332ed067d1837cbb3#egg=litevideo
git+https://github.com/litex-hub/pythondata-misc-tapcfg@0e6809132b7a42d26fc148b2b5e54ede8d6021ab#egg=pythondata-misc-tapcfg
git+https://github.com/litex-hub/pythondata-software-compiler_rt@fcb03245613ccf3079cc833a701f13d0beaae09d#egg=pythondata-software-compiler_rt
git+https://github.com/litex-hub/pythondata-cpu-serv@da5ad1e992e1a61926ad513b6f88b3a16867b5b9#egg=pythondata-cpu-serv
git+https://github.com/litex-hub/valentyusb@912d8e6dc72d45e092e608ffcaabfeaaa6d4580f#egg=valentyusb-hw_cdc_eptri
https://github.com/lschuermann/litex-vexriscv-custom/releases/download/2021092400/generated.tar.gz
