git+https://github.com/enjoy-digital/litex@e0d5a7bff55923#egg=litex
git+https://github.com/litex-hub/litex-boards@4b48f15265c902#egg=litex-boards
git+https://github.com/enjoy-digital/liteeth@947ed037202a99#egg=liteeth
git+https://github.com/enjoy-digital/litedram@4326fe7f36699a#egg=litedram
git+https://github.com/litex-hub/litehyperbus@b7d57e9c63b1f2#egg=litehyperbus
git+https://github.com/enjoy-digital/liteiclink@3d8ecdbcf9f026#egg=liteiclink
git+https://github.com/enjoy-digital/litepcie@68334fd93d078c#egg=litepcie
git+https://github.com/enjoy-digital/litescope@72c9930705ccc5#egg=litescope
git+https://github.com/litex-hub/litespi@51eabb52248ab5#egg=litespi
git+https://github.com/m-labs/migen@0.9.2#egg=migen
https://github.com/lschuermann/litex-vexriscv-custom/releases/download/2021030800/generated.tar.gz
git+https://github.com/litex-hub/pythondata-misc-tapcfg@0e6809132b7a42#egg=pythondata-misc-tapcfg
git+https://github.com/litex-hub/pythondata-software-compiler_rt@2020.08#egg=pythondata-software-compiler_rt
