https://github.com/lschuermann/tock-litex/releases/download/2024011101-tock-ci-0/litex_patched.zip
https://github.com/lschuermann/tock-litex/releases/download/2024011101-tock-ci-0/pythondata-cpu-vexriscv_patched.zip
git+https://github.com/litex-hub/litex-boards@52f9f0f1079085fc7d09956b8d42ccb9a06357a5#egg=litex-boards
git+https://github.com/enjoy-digital/liteeth@1ea28bd93a13bbadeccbab127738021b59e79009#egg=liteeth
git+https://github.com/enjoy-digital/litedram@e9adaebf0ddc8468d28bffa8523f5a7dd048dfd5#egg=litedram
git+https://github.com/litex-hub/litehyperbus@76454e4c0c304a34b9915722de750887c3abbe89#egg=litehyperbus
git+https://github.com/enjoy-digital/liteiclink@030e96c23e89953e9f7808c3e2fcdb58c3dee133#egg=liteiclink
git+https://github.com/enjoy-digital/litepcie@8cd6081284fbc4bef01a6e84d75f2a2bb6e1c278#egg=litepcie
git+https://github.com/enjoy-digital/litescope@976656b5194db2cdf6c3257c5975e4fa1233f859#egg=litescope
git+https://github.com/enjoy-digital/litesdcard@1e5595376ae0ad56bed0464bd5774cfc774220da#egg=litesdcard
git+https://github.com/litex-hub/litespi@a18df94acb70b155f839ae95c145122874aaabc3#egg=litespi
git+https://github.com/enjoy-digital/litevideo@41f30143075ece3fff5c33a332ed067d1837cbb3#egg=litevideo
git+https://github.com/litex-hub/pythondata-cpu-vexriscv_smp@9da054f1d3aa73e20dfa570619e84e858fcb8687#egg=pythondata-cpu-vexriscv_smp
git+https://github.com/litex-hub/pythondata-misc-tapcfg@fbcb02422940bbb97c492f0c970959d262b33632#egg=pythondata-misc-tapcfg
git+https://github.com/litex-hub/pythondata-software-compiler_rt@fcb03245613ccf3079cc833a701f13d0beaae09d#egg=pythondata-software-compiler_rt
git+https://github.com/litex-hub/pythondata-cpu-serv@cdede3b5e35e0c8c385ff10d783905d95cd864ab#egg=pythondata-cpu-serv
git+https://github.com/litex-hub/pythondata-software-picolibc@a5e11229885a87083ec54034f8d693ba52ea2718#egg=pythondata-software-picolibc
git+https://github.com/litex-hub/valentyusb@0b534ccfccfcdcb7a5db219743f0c0b20e5ec412#egg=valentyusb-hw_cdc_eptri
git+https://github.com/litex-hub/pythondata-misc-usb_ohci@1f9c77314d3b91fe3194245c3e3197a075803199#egg=pythondata-misc-usb_ohci
